<footer>
  <p>© <span id="year">{{ site.time | date: '%Y' }}</span> {{ site.author }}. See the <a href="https://github.com/ryanleesipes/ryanleesipes.github.io">source code</a>.</p>
  <ul class="social">
    <li class="github">
      <a href="https://github.com/{{ site.github.user }}" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="blog">
      <a href="https://blog.ryanleesipes.me/" title="Blog">
        <i class="fas fa-blog"></i>
      </a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/{{ site.twitter }}" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="email">
      <a href="mailto:{{ site.email }}" title="Email">
        <i class="fa fa-envelope"></i>
      </a>
    </li>
  </ul>
</footer>
